<form data-role="api-docs-form">
    <link rel="stylesheet" type="text/css" href="/components/api-docs.util/index.css" />
    <script src="./index.js" type="module"></script>
    <h1 data-role="util-title"></h1>
    <div data-role="content-aside">
        <h2 data-role="legend-title"></h2>
        <ul data-role="content-legend">

        </ul>
    </div>
    <div data-role="content-title"></div>
    <div data-role="content-description">
        <h3>Content Description</h3>
    </div>
    <div data-role="content-example">

        <code data-role="example-code">
            <h3>Code Example</h3>
            <ul data-role="code-lines"></ul>
        </code>
    </div>
</form>