
<form data-role="database-toolkit-form">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <script src="/components/database-toolkit.util/index.js" type="module"></script>
    <script src="https://kit.fontawesome.com/50cfdd2b32.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/components/database-toolkit.util/index.css" />
    <h3 data-role="util-title"></h3>
    <span data-role="database-view" data-build-element="database-view-component"></span>

    <div data-role="task-grid">
        <h1 data-role="grid-title"></h1>
        <a data-role="exit-button"></a>
        <a data-role="purge-button"></a>
        <a data-role="restore-button"></a>
        <a data-role="add-test-users-button"></a>
        <a data-role="pause-button"></a>
        <a data-role="health-button"></a>

    </div>
    <output data-role="database-toolkit-io"></output>

</form>

