
<form data-role="database-toolkit-form">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <script src="/components/database-toolkit.util/index.js" type="module"></script>
    <script src="https://kit.fontawesome.com/50cfdd2b32.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/components/database-toolkit.util/index.css" />
    <h1 data-role="util-title"></h1>
    <span data-role="database-view" data-build-element="database-view-component"></span>
    <output data-role="database-toolkit-io"></output>
</form>

