<form data-role="user-management-form">
    <link rel="stylesheet" type="text/css" href="./index.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/50cfdd2b32.js" crossorigin="anonymous"></script>
    <script src="./index.js" type="module"></script>
    <h1 data-role="util-title"></h1>
    <div data-role="user-aside"></div>
    <div data-role="user-name"></div>
    <div data-role="user-firstname"></div>
    <div data-role="user-lastname"></div>
    <div data-role="user-email"></div>
    <div data-role="user-apps"></div>
    <div data-role="user-urls"></div>
    <div data-role="user-admin"></div>

    <div data-role="user-image"></div>


</form>