.user-management-form {
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    background-color: rgba(55, 55, 255, 1);
    padding: 2%;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: 20% 40% 40%;

}

.util-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.7em;
    font-variant: titling-caps;
    color: rgba(355, 165, 55, 1);
    text-align: center;
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1.5%;
    border: 4px solid rgba(255, 255, 255, 1);
}

.user-aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 11;
    border: 4px solid rgba(255, 255, 255, 1);
}
.user-name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 4px solid rgba(255, 255, 255, 1);
}

.user-firstname {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 4px solid rgba(255, 255, 255, 1);
}

.user-lastname {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 4px solid rgba(255, 255, 255, 1);
}

.user-email {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    border: 4px solid rgba(255, 255, 255, 1);
}

.user-apps {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    border: 4px solid rgba(255, 255, 255, 1);
}

.user-urls {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    border: 4px solid rgba(255, 255, 255, 1);
}

.user-admin {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
    border: 4px solid rgba(255, 255, 255, 1);
}
.user-image {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 8;
    border: 4px solid rgba(255, 255, 255, 1);
}