<script src="components/app-login/index.js" type="module" crossorigin="anonymous"></script>
<link rel="stylesheet" href="components/app-login/index.css" type="text/css" />
<form data-role="app-login">
    <h1 data-role="t-login-title"></h1>
    <div data-role="c-login-username">
        <label data-role="l-login-username"></label>
        <input data-role="i-login-username" />
        <output data-role="o-login-username"></output>
    </div>
    <div data-role="c-login-password">
        <label data-role="l-login-password"></label>
        <input data-role="i-login-password" />
        <output data-role="o-login-password"></output>
    </div>
    <div data-role="c-login-control">
        <button data-role="b-login-submit"></button>
        <button data-role="b-login-clear"></button>
    </div>
    <div data-role="c-login-support">
        <a data-role="a-login-new-account"></a>
        <a data-role="a-login-forgot"></a>
    </div>
</form>