.app-login {
    position: absolute;
    top: 30vh;
    bottom: 5vh;
    left: 10vw;
    right: 10vw;
    background-color: rgba(55, 55, 255, 1);
    font-family: "Roboto", sans-serif;
    color: rgba(255,255,255,1);
    font-size: 1.2em;
    padding: 1%;
    border-radius: 25px;
}




input {
    font-size: 1.2em;
    background-color: rgba(255, 255, 25, 0);
    border: none;
    border-bottom: 5px double rgba(255, 155, 55, 1);
    width: 100%;
    height: 1.4em;
    color: rgba(255, 255, 255, .8);
    text-align: center;
}

label {
    font-size: 1.2em;
    font-variant: petite-caps;
    margin-left: 20%;

}
button {
    min-width: 20%;
    text-align: center;
    padding:1%;
    font-size: 1em;
    background-color: rgba(255, 155, 55, 1);
    color: rgba(255, 255, 255, 1);
    margin: 3% auto;
    display: block;
}
.t-login-title {
    text-align: center;
    color: rgba(255, 155, 55, 1);
    font-size: 1.8em;
    font-variant: titling-caps;
    padding-bottom: 3%;

}
.c-login-username {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 40%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}
.l-login-username {
    grid-column-start: 1;
    grid-column-end: 2;

}
.i-login-username {
    grid-column-start: 2;
    grid-column-end: 3;

}
.i-login-username::placeholder {
    color: rgba(255, 255, 255, .7);
}
.o-login-username {
    grid-column-start: 3;
    grid-column-end: 4;
    color: red;
    font-style: italic;
    text-align: center;
    font-size:1.2em;

}
.c-login-password {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 40%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}

.l-login-password {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end:2
}
.i-login-password::placeholder {
    color: rgba(255, 255, 255, .7);
}
.i-login-password {
    grid-column-start: 2;
    grid-column-end: 3;
}

.o-login-password {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:2;
    color: red;
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
}

.c-login-control {
    grid-row-start: 5;
    grid-row-end: 6;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto auto 1fr;
    grid-column-gap: 5px;
}





.c-login-support {
    padding-top: 1%;
    text-align: center;
}

.a-login-new-account {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    display: block;
    padding-bottom: 1%;

}

.a-login-forgot {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    display: block;
}
.a-login-forgot:hover {
    color: rgba(255, 155, 55, 1)
}
.a-login-new-account:hover {
    color: rgba(255, 155, 55);
}

.error {
    color: rgba(255, 55, 55, 1);
    text-align: center;
    font-family: "roboto", sans-serif;
}