
.table-main {
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 10%;
    right: 10%;
    border: 4px solid rgba(255, 255, 55, 1);
    display: grid;
    grid-template-rows: 10% 90%;

}

.table-header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end: 10;
    display: grid;
    grid-template-columns: repeat(10, 10%);
}

.head-0 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
}

.head-0 a {
    color: rgba(255, 255, 55, 1);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-right: 2px solid rgba(255, 255, 55, 1);
    border-bottom: 2px solid rgba(255, 255, 55, 1);
}
.head-0 a:hover {
    color: rgba(55,55,55,1);
    background-color: rgba(255, 255, 25, 1);
}

.head-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    padding: .25% 1%;
}

.head-1 a {
    color: rgba(255, 255, 55, 1);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-right: 2px solid rgba(255, 255, 55, 1);
    border-bottom: 2px solid rgba(255, 255, 55, 1);
}
.head-1 a:hover {
    color: rgba(55,55,55,1);
    background-color: rgba(255, 255, 25, 1);
}
.head-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    padding: .25% 1%;

}
.head-2 a {
    color: rgba(255, 255, 55, 1);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-right: 2px solid rgba(255, 255, 55, 1);
    border-bottom: 2px solid rgba(255, 255, 55, 1);


}

.head-2 a:hover {
    color: rgba(55,55,55,1);
    background-color: rgba(255, 255, 25, 1);
}

.head-3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    padding: .25% 1%;

}

.head-3 a {
    color: rgba(255, 255, 55, 1);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-right: 2px solid rgba(255, 255, 55, 1);
    border-bottom: 2px solid rgba(255, 255, 55, 1);

}

.head-3 a:hover {
    color: rgba(55,55,55,1);
    background-color: rgba(255, 255, 25, 1);
}
.head-4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    padding: .25% 1%;

}

.head-4 a {
    color: rgba(255, 255, 55, 1);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-right: 2px solid rgba(255, 255, 55, 1);
    border-bottom: 2px solid rgba(255, 255, 55, 1);

}
.head-4 a:hover {
    color: rgba(55,55,55,1);
    background-color: rgba(255, 255, 25, 1);
}
.head-5{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    padding: .25% 1%;

}

.head-5 a {
    color: rgba(255, 255, 55, 1);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-right: 2px solid rgba(255, 255, 55, 1);
    border-bottom: 2px solid rgba(255, 255, 55, 1);



}

.head-5 a:hover {
    color: rgba(55,55,55,1);
    background-color: rgba(255, 255, 25, 1);
}
.head-6 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    padding: .25% 1%;

}

.head-6 a {
    color: rgba(255, 255, 55, 1);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-right: 2px solid rgba(255, 255, 55, 1);
    border-bottom: 2px solid rgba(255, 255, 55, 1);

}
.head-6 a:hover {
    color: rgba(55,55,55,1);
    background-color: rgba(255, 255, 25, 1);
}
.head-7{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    padding: .25% 1%;

}

.head-7 a {
    color: rgba(255, 255, 55, 1);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-right: 2px solid rgba(255, 255, 55, 1);
    border-bottom: 2px solid rgba(255, 255, 55, 1);


}

.head-7 a:hover {
    color: rgba(55,55,55,1);
    background-color: rgba(255, 255, 25, 1);
}
.head-8  {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    padding: .25% 1%;

}

.head-8 a {
    color: rgba(255, 255, 55, 1);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-right: 2px solid rgba(255, 255, 55, 1);
    border-bottom: 2px solid rgba(255, 255, 55, 1);
}

.head-8 a:hover {
    color: rgba(55,55,55,1);
    background-color: rgba(255, 255, 25, 1);
}
.head-9  {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    padding: .25% 1%;

}

.head-9 a {
    color: rgba(255, 255, 55, 1);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-right: 2px solid rgba(255, 255, 55, 1);
    border-bottom: 2px solid rgba(255, 255, 55, 1);
}
.head-9 a:hover {
    color: rgba(55,55,55,1);
    background-color: rgba(255, 255, 25, 1);
}
.key {
    position: absolute;
    left: 0;
    min-width: 50%;
    font-weight: bolder;
    color: rgba(255, 165, 55, 1);
    font-family: "Roboto", sans-serif;
    text-align: right;


}
.value {
    text-align: right;
    font-family: "Roboto", sans-serif;
    min-width: 40vw;
    margin-right: 10%;



}
.details-0 {

    position: absolute;
    top: 10%;
    bottom:10%;
    left: 35%;
    right: 35%;
    background-color: rgba(55, 55, 55, 1);
    border: 4px solid rgba(255, 255, 55, 1);
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1%;
    margin: 0 auto;
    Transform: scale(0,0);
}

.details-active {
    animation: details-active 500ms ease-in forwards 30ms;
}

.details-0 ul li {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    text-align: right;
    width: 100%;
    padding-bottom: 1.5%;
}
.details-0::before {
    content: 'Table Attributes:';
    color: rgba(255, 255, 55, 1);
    font-size: 1.4em;
    position: relative;
    left: 20%;
}
.details-1 {
    Transform: scale(0,0);
    position: absolute;
    top: 10%;
    bottom:10%;
    left: 35%;
    right: 35%;
    background-color: rgba(55, 55, 55, 1);
    border: 4px solid rgba(255, 255, 55, 1);
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1%;
    margin: 0 auto;
}
.details-1 ul li {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    text-align: right;
    width: 100%;
    padding-bottom: 1.5%;
}
.details-1::before {
    content: 'Table Attributes:';
    color: rgba(255, 255, 55, 1);
    font-size: 1.4em;
    position: relative;
    left: 20%;
}
.details-2 {
    Transform: scale(0,0);
    position: absolute;
    top: 10%;
    bottom:10%;
    left: 35%;
    right: 35%;
    background-color: rgba(55, 55, 55, 1);
    border: 4px solid rgba(255, 255, 55, 1);
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1%;
    margin: 0 auto;
}

.details-2 ul li {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    text-align: right;
    width: 100%;
    padding-bottom: 1.5%;
}
.details-2::before {
    content: 'Table Attributes:';
    color: rgba(255, 255, 55, 1);
    font-size: 1.4em;
    position: relative;
    left: 20%;
}

.details-3 {
    Transform: scale(0,0);
    position: absolute;
    top: 10%;
    bottom:10%;
    left: 35%;
    right: 35%;
    background-color: rgba(55, 55, 55, 1);
    border: 4px solid rgba(255, 255, 55, 1);
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1%;
    margin: 0 auto;
}
.details-3 ul li {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    text-align: right;
    width: 100%;
    padding-bottom: 1.5%;
}
.details-3::before {
    content: 'Table Attributes:';
    color: rgba(255, 255, 55, 1);
    font-size: 1.4em;
    position: relative;
    left: 20%;
}
.details-4 {
    Transform: scale(0,0);
    position: absolute;
    top: 10%;
    bottom:10%;
    left: 35%;
    right: 35%;
    background-color: rgba(55, 55, 55, 1);
    border: 4px solid rgba(255, 255, 55, 1);
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1%;
    margin: 0 auto;
}

.details-4 ul li {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    text-align: right;
    width: 100%;
    padding-bottom: 1.5%;
}
.details-4::before {
    content: 'Table Attributes:';
    color: rgba(255, 255, 55, 1);
    font-size: 1.4em;
    position: relative;
    left: 20%;
}
.details-5 {
    Transform: scale(0,0);
    position: absolute;
    top: 10%;
    bottom:10%;
    left: 35%;
    right: 35%;
    background-color: rgba(55, 55, 55, 1);
    border: 4px solid rgba(255, 255, 55, 1);
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1%;
    margin: 0 auto;
}

.details-5 ul li {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    text-align: right;
    width: 100%;
    padding-bottom: 1.5%;
}
.details-5::before {
    content: 'Table Attributes:';
    color: rgba(255, 255, 55, 1);
    font-size: 1.4em;
    position: relative;
    left: 20%;
}

.details-6 {
    Transform: scale(0,0);
    position: absolute;
    top: 10%;
    bottom:10%;
    left: 35%;
    right: 35%;
    background-color: rgba(55, 55, 55, 1);
    border: 4px solid rgba(255, 255, 55, 1);
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1%;
    margin: 0 auto;
}
.details-6 ul li {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    text-align: right;
    width: 100%;
    padding-bottom: 1.5%;
}
.details-6::before {
    content: 'Table Attributes:';
    color: rgba(255, 255, 55, 1);
    font-size: 1.4em;
    position: relative;
    left: 20%;
}
.details-7 {
    Transform: scale(0,0);
    position: absolute;
    top: 10%;
    bottom:10%;
    left: 35%;
    right: 35%;
    background-color: rgba(55, 55, 55, 1);
    border: 4px solid rgba(255, 255, 55, 1);
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1%;
    margin: 0 auto;
}
.details-7 ul li {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    text-align: right;
    width: 100%;
    padding-bottom: 1.5%;
}
.details-7::before {
    content: 'Table Attributes:';
    color: rgba(255, 255, 55, 1);
    font-size: 1.4em;
    position: relative;
    left: 20%;
}
.details-8 {
    Transform: scale(0,0);
    position: absolute;
    top: 10%;
    bottom:10%;
    left: 35%;
    right: 35%;
    background-color: rgba(55, 55, 55, 1);
    border: 4px solid rgba(255, 255, 55, 1);
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1%;
    margin: 0 auto;
}
.details-8 ul li {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    text-align: right;
    width: 100%;
    padding-bottom: 1.5%;
}
.details-8::before {
    content: 'Table Attributes:';
    color: rgba(255, 255, 55, 1);
    font-size: 1.4em;
    position: relative;
    left: 20%;
}

.details-9 {
    Transform: scale(0,0);
    position: absolute;
    top: 10%;
    bottom:10%;
    left: 35%;
    right: 35%;
    background-color: rgba(55, 55, 55, 1);
    border: 4px solid rgba(255, 255, 55, 1);
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1%;
    margin: 0 auto;
}
.details-9 ul li {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    text-align: right;
    width: 100%;
    padding-bottom: 1.5%;
}
.details-8::before {
    content: 'Table Attributes:';
    color: rgba(255, 255, 55, 1);
    font-size: 1.4em;
    position: relative;
    left: 20%;
}
.callout-0 {
    grid-row-start: 2;
    grid-row-end: 3;
    border-left: 4px dashed rgba(255, 255, 55, 0);
    border-right: 4px dashed rgba(255, 255, 55, 0);
    border-bottom: 4px dashed rgba(255, 255, 55, 0);
    position: absolute;
    top: 5%;
    bottom: 50%;
    left: 5%;
    right: 5%;
}

.app-selected {
    right: 50%;
    animation: detail-callout-left 700ms ease-in forwards 30ms;
}
.username-selected {
    left: 50%;
    animation: detail-callout-right 700ms ease-in forwards 30ms;
}

.callout-1 {
    grid-row-start: 2;
    grid-row-end: 3;
    border-left: 4px dashed rgba(255, 255, 55, 0);
    border-right: 4px dashed rgba(255, 255, 55, 0);
    border-bottom: 4px dashed rgba(255, 255, 55, 0);
    position: absolute;
    top: 5%;
    bottom: 50%;
    left: 15%;
    right: 15%;
}


.cfg-selected {
    right: 50%;
    animation: detail-callout-left 700ms ease-in forwards 30ms;
}

.url-selected {
    left: 50%;
    animation: detail-callout-right 700ms ease-in forwards 30ms;
}


.callout-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    position: absolute;
    top: 5%;
    bottom: 50%;
    left: 25%;
    right: 25%;



}
.email-selected {
    right: 50%;
    animation: detail-callout-left 700ms ease-in forwards 30ms;
}
.path-selected {
    left: 50%;
    animation: detail-callout-right 700ms ease-in forwards 30ms;
}

.callout-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    border-left: 4px dashed rgba(255, 255, 55, 0);
    border-right: 4px dashed rgba(255, 255, 55, 0);
    border-bottom: 4px dashed rgba(255, 255, 55, 0);
    position: absolute;
    top: 5%;
    bottom: 50%;
    left: 35%;
    right: 35%;
}

.firstname-selected {
    right: 50%;
    animation: detail-callout-left 700ms ease-in forwards 30ms;
}
.password-selected {
    left: 50%;
    animation: detail-callout-right 700ms ease-in forwards 30ms;
}



.callout-4 {
    grid-row-start: 2;
    grid-row-end: 3;
    border-left: 4px dashed rgba(255, 255, 55, 0);
    border-right: 4px dashed rgba(255, 255, 55, 0);
    border-bottom: 4px dashed rgba(255, 255, 55, 0);
    position: absolute;
    top: 5%;
    bottom: 50%;
    left: 45%;
    right: 45%;
}

.lastname-selected {
    right: 50%;
    animation: detail-callout-left 700ms ease-in forwards 30ms;
}
.key-selected {
    left: 50%;
    animation: detail-callout-right 700ms ease-in forwards 30ms;
}


@keyframes details-active {
    from { Transform: scale(0,0) }
    to { Transform: scale(1,1) }
}

@keyframes detail-callout-left {
    from{
        border-left: 4px dashed rgba(255, 255, 55, 0);
        border-bottom: 4px dashed rgba(255, 255, 55, 0);
        Transform: scale(0,0);
    }

    to {
        border-left: 4px dashed rgba(255, 255, 55, .8);
        border-bottom: 4px dashed rgba(255, 255, 55, .8);
        Transform: scale(1,1);
    }
}

@keyframes detail-callout-right {
    from{
        border-right: 4px dashed rgba(255, 255, 55, 0);
        border-bottom: 4px dashed rgba(255, 255, 55, 0);
        Transform: scale(0,0);
    }

    to {
        border-right: 4px dashed rgba(255, 255, 55, .8);
        border-bottom: 4px dashed rgba(255, 255, 55, .8);
        Transform: scale(1,1);
    }
}

.back-button {
    position:absolute;
    bottom: 5%;
    left: 5%;
    top: 85%;
    right: 80%;
    width: unset;
    background-color: rgba(255, 255, 55, 1);
    padding: unset;

}

.back-button label {
    color: rgba(55, 55, 55, 1);
    width: 80%;
    text-align: center;
    font-size: 1.4em;

    font-weight: 700;
    padding: 2%;
}

.back-button i {
    width: 20%;
    text-align: start;
    --fa-primary-color: rgba(55, 55, 55, 1);
    --fa-secondary-color: rgba(55, 55, 55, 0);
}